<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/report.css">
    <title>Budget Generator</title>
</head>
<style>
    .development-budget-table {
        border: 2px solid black;
        border-collapse: collapse;
        width: 500px;
        height: 200px;

        & td,
        th {
            border: 2px solid black;
        }
    }

    .body-report {
        display: flex;
        justify-content: center;
    }
</style>

<body>
    <div class="container-logo-report">
        <img src="~/images/logo-report.jpg" alt="">
    </div>
    <div class="initial-page-footer">
        <p>DOCUMENTAÇÃO FUNCIONAL DO SISTEMA</p>
    </div>

    <div class="body-report">

        <table class="development-budget-table">
            <thead>
                <tr>
                    <th class="title-table-head" colspan="6">Matriz de orçamento para desenvolvimento</th>
                </tr>
                <tr>
                    <th class="table-header">Categoria</th>
                    <th class="table-header">Item</th>
                    <th class="table-header">Atividade Validadas</th>
                    <th class="table-header">Simples</th>
                    <th class="table-header">Médio</th>
                    <th class="table-header">Complexo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="category-colum">
                        <span class="developement-category">Telas</span>
                    </td>
                    <td>
                        <span class="developement-item">WEB</span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de colunas; Filtros <br>
                            Dinâmicos; Paginação; Ordenação.
                        </p>
                    </td>
                    <td class="service-complexity"></td>
                    <td class="service-complexity"></td>
                    <td class="service-complexity"></td>
                </tr>
                <tr>
                    <td rowspan="2" class="category-colum">
                        <span class="developement-category">Relatórios</span>
                    </td>
                    <td>
                        <span class="developement-item">PDF</span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de colunas; Quantidade <br>
                            de tabelas
                        </p>
                    </td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                </tr>
                <tr>
                    <td class="category-colum">
                        <span class="developement-item">Excel / Word </span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de colunas; Gráficos
                        </p>
                    </td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                </tr>
                <tr>
                    <td rowspan="6" class="category-colum">
                        <span class="developement-category">SQL</span>
                    </td>
                    <td>
                        <span class="developement-item">Procedure</span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de campos; Quantidade de <br>
                            tabelas
                        </p>
                    </td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                </tr>
                <tr>
                    <td>
                        <span class="developement-item">JOB</span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de tabelas; Quantidade de <br>
                            operações
                        </p>
                    </td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                </tr>
                <tr>
                    <td>
                        <span class="developement-item">Trigger</span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de operações
                        </p>
                    </td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                </tr>
                <tr>
                    <td>
                        <span class="developement-item">Função </span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de operações
                        </p>
                    </td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                </tr>
                <tr>
                    <td>
                        <span class="developement-item">Scripts </span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de operações
                        </p>
                    </td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                </tr>
                <tr>
                    <td>
                        <span class="developement-item">Modelagem </span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de Campos e <br>
                            quantidade de relacionamentos
                        </p>
                    </td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                    <td><span class="service-complexity"></span></td>
                </tr>
                <tr>
                    <td class="category-colum">
                        <span class="developement-category">API</span>
                    </td>
                    <td>
                        <span class="developement-item">Operação</span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de campos/Validações
                        </p>
                    </td>
                    <td class="service-complexity"></td>
                    <td class="service-complexity"></td>
                    <td class="service-complexity"></td>
                </tr>
                <tr>
                    <td class="category-colum">
                        <span class="developement-category">Serviços</span>
                    </td>
                    <td>
                        <span class="developement-item">Console</span>
                    </td>
                    <td class="developement-activities">
                        <p>
                            Quantidade de operações
                        </p>
                    </td>
                    <td class="service-complexity"></td>
                    <td class="service-complexity"></td>
                    <td class="service-complexity"></td>
                </tr>
            </tbody>
        </table>

    </div>

    <p><strong>Total de Horas do Projeto:</strong> @Model.BudgetedHours</p>

</body>

</html>