@model BudgetGenerator.Models.ReportInputModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/generator.css">
    <title>Document</title>
</head>

<body>
    <main class="main-container">
        <div class="report-container">
            <form asp-action="GenerateReport" method="post" id="formReport">
                <h1>Budget Generator</h1>
                <div class="title-hours-container">
                    <div class="title-container">
                        <label for="reportTitle">Título do Relatório:</label>
                        <input type="text" id="reportTitle" name="ReportTitle" required autocomplete="off" />
                    </div>
                    <div class="hours-container">
                        <label for="analysisHours">Horas de Analise:</label>
                        <input type="number" id="analysisHours" name="analysisHours" required min="0"
                            autocomplete="off" />
                    </div>
                </div>
                <div id="feature-container"></div>
                <input type="hidden" id="formatInput" name="format" value="pdf" />
                <div class="button-container">
                    <div class="bg-button">
                        <button type="button" id="addFeatureBtn">Adicionar Funcionalidade</button>
                        <button type="submit" id="generatePdfButton"
                            onclick="document.getElementById('formatInput').value = 'pdf';">Exportar PDF</button>
                        <button type="submit" id="generateDocxButton"
                            onclick="document.getElementById('formatInput').value = 'docx';">Gerar DOCX</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
<script src="~/js/budgetGenerator.js"></script>

</html>
