@model BudgetGenerator.Models.ReportInputModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/generator.css">
    <title>Document</title>
</head>

<body>
    <main class="main-container">
        <div class="report-container">
            <form asp-action="GenerateReport" method="post" id="formRelatorio">
                <h1>Budget Generator</h1>
                <div>
                    <label for="tituloRelatorio">Título do Relatório:</label>
                    <input type="text" id="tituloRelatorio" name="ReportTitle" required autocomplete="off" />
                </div>
                <div id="feature-container"></div>
                <div class="button-container">
                    <div class="bg-button">
                        <button type="button" id="addFeatureBtn">Adicionar Funcionalidade</button>
                        <button type="submit" id="generateReportBtn">Exportar PDF</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
<script src="~/js/budgetGenerator.js"></script>

</html>
