* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     font-family: Tahoma, sans-serif;
}

:root {
    font-size: 62.5%;
    --color-grey: #a3bdcc;
    --color-white: #fff;
    --color-dark-blue: #051523;
    --color-blue-green: #203243;
    --color-grey-bg: rgba(209, 218, 207, 0.966);
    --color-green-logo: #59d856;
}

body {
    font-size: 1.6rem;
    color: var(--color-grey);
    min-height: 100vh;
    max-height: auto;
    background-image: 
    linear-gradient(to bottom right, var(--color-blue-green) 20%, var(--color-dark-blue) 80%),
    linear-gradient(to top left, var(--color-grey-bg) 30%, var(--color-green-logo) 100%);
    font-family: Tahoma, sans-serif;
}



.service {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-bottom: 10px; 
  
    & label{
        text-align: center;
    }
}
.main-container{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
  label {
    display: block;
    font-weight: 600;
  }
  .service-hours{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  
  input, select, textarea {
    padding: 0.7rem;
    margin: 0.9rem 0;
    width: 100%;
    
  }
  #tituloRelatorio{
    width: 68rem;
  }
  
  textarea {
    height: 10rem;
  }
