* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Tahoma, sans-serif;
}

:root {
  font-size: 62.5%;
  --color-grey: rgb(191, 215, 237);
  --color-white: #fff;
  --color-dark-blue: #071724;
  --color-blue-green: #203243;
  --color-grey-bg: rgba(209, 218, 207, 0.966);
  --color-green-logo: #59d856;
  --color-red: #f16464;
}

body {
  font-size: 1.6rem;
  color: var(--color-grey);
  min-height: 100vh;
  background-image: linear-gradient(to bottom right,
      var(--color-blue-green) 20%,
      var(--color-dark-blue) 80%),
    linear-gradient(to top left,
      var(--color-grey-bg) 30%,
      var(--color-green-logo) 100%);
  font-family: Tahoma, sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/images/bg-login.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.9;
}

.service {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 1rem;

  & label {
    padding-left: 0.3rem;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  width: 100%;
  height: 85%;
}

label {
  display: block;
  font-weight: 600;
}

input[type="number"] {
  width: 11.9rem;
  height: 3.5rem;
  text-align: center;
}

input,
select,
textarea {
  padding: 0.7rem;
  margin: 0.9rem 0;
  height: 4rem;
  background-color: var(--color-grey);
  border-radius: 0.6rem;
  color: var(--color-dark-blue);
  transition: linear 0.3s ease;
}

input,
textarea {
  font-size: 1.7rem;
  width: 100%;
  resize: none;
}

select {
  background-color: var(--color-grey);
  color: var(--color-dark-blue);
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--color-dark-blue);
  transition: background-color 0.3s ease, color 0.3s ease;
}

select:hover {
  background-color: var(--color-blue-green);
  color: var(--color-white);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-style: none;
  box-shadow: none;
}

input:-webkit-autofill,
input:focus,
input:active {
  -webkit-text-fill-color: var(--color-dark-blue);
  outline: none;
  border-style: none;
  background-color: var(--color-grey);
  -webkit-box-shadow: 0 0 0 2rem var(--color-grey) inset;
}

#tituloRelatorio {
  width: 100%;
}

textarea {
  height: 10rem;
}

.report-container {
  width: 85%;
  padding: 5%;
  margin: 0 auto;
  border-radius: 3.2rem;
  border: solid 0.36rem var(--color-dark-blue);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  background-color: hsla(0, 0%, 0%, 0.329);
  box-shadow: 4px 1px 10px 10px rgba(4, 10, 11, 0.342);
}

form {
  padding: 1% 15%;
  width: 100%;
}

.report-container h1 {
  font-weight: 250;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2.1rem;
}

h2 {
  font-size: 2.1rem;
  margin: 3.3rem 0 0.8rem 0;
}

.report-container label {
  font-weight: 150;
}

.feature div {
  margin-block: 1rem;
}

.error-message {
  height: 3rem;
  vertical-align: center;
  margin-top: 1.3rem;
  justify-content: center;
  align-items: flex-end;
  color: var(--color-red);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

button {
  appearance: none;
  height: 4.6rem;
  width: 13rem;
  color: #071724;
  font-size: 1.4rem;
  font-weight: 560;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 1.5rem;
  border: solid 0.18rem var(--color-dark-blue);
  box-shadow: 1px 1px 1px 1px rgba(82, 224, 46, 0.288);
  background-color: rgba(87, 216, 85, 0.856);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3%;
  right: -1PX;
  gap: 60%;
  margin-top: 3rem;
  width: 100%;

  & #generatePdfButton,
  #generateDocxButton {
    background-color: var(--color-grey);
    box-shadow: 1px 1px 1px 1px rgb(191, 215, 237, 0.2);
  }

  & #generatePdfButton:hover,
  #generateDocxButton:hover {
    background-color: var(--color-green-logo);
  }

  & div {
    width: 250px;
    display: flex;
    justify-content: center;
    gap: 10PX;
    align-items: center;
  }
}

.add-service-btn {
  margin-bottom: 2rem;
}

.service .remove-btn-container {
  padding-top: 6px;
  height: 100%;
  margin-bottom: 0;
}

.service .remove-btn-container .remove-service-btn {
  width: 100px;
  height: 50px;
  background-color: #bed6ed;
}

.remove-feature-btn {
  color: var(--color-grey);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 2rem;
  width: 2.5rem;
}

.remove-feature-btn:hover {
  color: var(--color-red);
}

.last-added-service {
  background-color: hwb(210 6% 87% / 0.226);
  width: 100%;
  border: 0.2rem solid var(--color-grey);
  border-radius: 0.6rem;
  box-shadow: 0 4px 8px rgba(19, 33, 43, 0.288);
  backdrop-filter: blur(0.2rem);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.last-added-service label {
  font-weight: 400;
  color: var(--color-white);
}

input[type="number"],
select {
  padding: 0.7rem;
  height: 4rem;
  background-color: var(--color-grey);
  border-radius: 0.6rem;
  color: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  transition: linear 0.3s ease;
  width: 11.5rem;
}

select option:hover {
  background-color: #add8e6;
}

.title-hours-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 0.4fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.hours-container input[type="number"] {
  width: 100%;
}

.error-mesage-section {
  grid-row: 2;
}