* {
  margin: 0;
  padding: 0;
  font-family: Calibri, Tahoma, sans-serif;
  font-size: 2.9rem;
}

:root {
  font-size: 62.5%;
}
body {
  padding: 5rem;
}
.initial-page-footer {
  border-top: solid #d2d2d2 0.3rem;
  padding-top: 1.5rem;
}
.body-report {
  padding-top: 22rem;
}
.body-report h1 {
  margin-bottom: 9rem;
  color: #172b4c;
  font-size: 5rem;
  font-weight: 100;
}
.body-report p {
  text-align: justify;
}

.description-feature {
  padding-left: 11rem;
}
li {
  margin-left: 8rem;
  margin-bottom: 0.3rem;
  list-style-position: outside;
  padding-left: 3rem;
}
.container-logo-report img {
  margin-bottom: 24rem;
}
.feature-container {
  margin-bottom: 3.8rem;
  font-size: 200rem;
}

.initial-page-footer p {
  font-size: 3rem;
  text-align: right;
  padding-right: 9rem;
  line-height: 0.3rem;
}

.section-table {
  width: 100%;
  padding: 5px;
}

.development-budget-table,
.test-budget-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-family: Calibri, sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 45% 0 37%;
}
.test-budget-table {
  margin-bottom: 10%;
}

.development-budget-table th,
.development-budget-table td,
.test-budget-table th,
.test-budget-table td {
  border: 4px solid #d2d2d2;
  background-color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 10px;
}
.developement-category,
.developement-item {
  font-size: 2.5rem;
}
.development-budget-table .title-table-head,
.test-budget-table .title-table-head {
  background-color: #d2d2d2;
  font-weight: bold;
  text-align: center;
  font-size: 0.9em;
}

.development-budget-table .dev-data,
.test-budget-table .dev-data {
  width: 15rem;
}
.development-budget-table .developement-activities {
  width: 40rem;
}
.category-colum {
  text-align: center;
}
.service-complexity {
  text-align: center;
}

.development-budget-table tbody td,
.test-budget-table tbody td {
  background-color: #fff;
}
.development-budget-table .table-header,
.test-budget-table .table-header {
  text-align: center;
}
.developer-item {
  width: 20rem;
}

.development-budget-table tbody tr:nth-child(even),
.test-budget-table tbody tr:nth-child(even) {
  background-color: #d2d2d2;
}

.footer {
  text-align: center;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #000;
  padding-top: 5px;
}
